.about-us{
    
    width: 100%;
    min-height: 100vh;
}

.about-us-inner{
   
    border-radius: 100px;
    overflow: auto;
    opacity: 1;
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
    
    animation: shadowmagic 2s infinite;
}
.social .fab{
    padding-top: 10px;
}
@keyframes shadowmagic {
   0% {box-shadow: -1px -3px 0.5px 5px #699C7B;}
   5% {box-shadow: -1px -3px 1px 5px #699C7B;}
   10%{box-shadow: -1px -3px 2px 5px #699C7B;}
   15%{box-shadow: -1px -3px 3px 5px #699C7B;}
   20%{box-shadow: -1px -3px 4px 5px #699C7B;}
   25%{box-shadow: -1px -3px 5px 5px #699C7B;}
   30%{box-shadow: -1px -3px 6px 5px #699C7B;}
   35%{box-shadow: -1px -3px 7px 5px #699C7B;}
   40%{box-shadow: -1px -3px 8px 5px #699C7B;}
   45%{box-shadow: -1px -3px 9px 5px #699C7B;}
   50%{box-shadow: -1px -3px 10px 5px #699C7B;}
   55%{box-shadow: -1px -3px 9px 5px #699C7B;}
   60%{box-shadow: -1px -3px 8px 5px #699C7B;}
   65%{box-shadow: -1px -3px 7px 5px #699C7B;}
   70%{box-shadow: -1px -3px 6px 5px #699C7B;}
   75%{box-shadow: -1px -3px 5px 5px #699C7B;}
   80%{box-shadow: -1px -3px 4px 5px #699C7B;}
   85%{box-shadow: -1px -3px 3px 5px #699C7B;}
   90%{box-shadow: -1px -3px 2px 5px #699C7B;}
   95%{box-shadow: -1px -3px 1px 5px #699C7B;}
   100% {box-shadow: -1px -3px 0.5px 5px #699C7B;}
}

.about-us-text{
    padding: 32px;
    max-width: 600px;
}
.content .button a{
    color: black;
}
.social a{
    color: black;
}
.image-section {
    max-height: 700px;
}
.image-section img{
    object-fit: cover;
    max-height: 100%;
    width: 500px;
}